/* common styles  */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
main {
    margin: 240px auto;
}

.color-primary {
    color: #E55473;
}

.btn-primary {
    padding: 15px 43px;
    background-color: #E55473;
    color: #FFF;
    border: 0;
    border-radius: 8px;
}
.btn-primary:hover{
    background-color: #272727;
}
/* header section  */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E554731A;
    width: 1920px;
    height: 850px;

}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-descriptin {
    width: 650px;
    height: 90px;
    margin: 32px 0;
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
}

.header-image {
    width: 635px;
    height: 850px;

}

/* featured follower section   */
.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    width: 600px;
    height: 60px;
    margin: auto;
    padding: 50px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.flower-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: end;

}

.flower img {
    width: 310px;
    height: 428px
}

.flower-name {
    text-align: center;
    margin-top: 32px;
    text-decoration-line: underline;
}

/* discount-section */

.discount {
    width: 1922px;
    height: 620px;
    background-color: #E554730D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.discount-info {
    width: 70%;
    text-align: center;
}

.discount-title {
    text-align: center;
}

.discount-flower {
    width: 30%;
}

.discount-flower img {
    width: 450px;
    height: 420px;
}

/* instagram section   */
.instagram-images {
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* user review */
.review-container{
    display: flex ;
    justify-content: center;
}
.review{
    width: 200px;
    margin: 20px;
    background-color: #f8f9fa;
    padding: 50px;
}
.five-star{
    display: flex;
    gap: 5px;
}
.five-star i{
    color: #FFF;
    background-color:#00b67a;
    padding: 2px;
    border-radius: 2px;
}
/* form section */
.subscribe {
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscibe-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.subscribe-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:48px;
}

input {
    border: 0;
    background-color: #FFF;
    width: 700px;
    height: 48px;
    border-radius: 8px;
    margin-right: 15px;
    padding-left: 20px;
}

/* footer section  */
footer {
    width: 1922px;
    height: 449px;
    background-color: #111010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    width: 625px;
}

.footer-bottom {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}